{{>partial_header}}

using System;
using System.Collections;
using System.Collections.Generic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Net;
using System.Reflection;
using System.Runtime.Serialization;
using System.Runtime.Serialization.Formatters;
using System.Text;
using System.Threading;
using System.Text.RegularExpressions;
using System.Threading.Tasks;
using Newtonsoft.Json;
using Newtonsoft.Json.Serialization;
using RestSharp;
using RestSharp.Serializers;
using RestSharpMethod = RestSharp.Method;
using FileIO = System.IO.File;
using Polly;
using {{modelPackage}};

namespace {{apiPackage}}
{
    /// <summary>
    /// Custom JSON Codec to handle RestSharp serialization for vSphere OpenAPI models.
    /// </summary>
    internal class CustomJsonCodec : IRestSerializer, ISerializer, IDeserializer
    {
        private readonly IReadableConfiguration _configuration;
        private readonly JsonSerializerSettings _serializerSettings = new JsonSerializerSettings
        {
            ConstructorHandling = ConstructorHandling.AllowNonPublicDefaultConstructor,
            ContractResolver = new DefaultContractResolver
            {
                NamingStrategy = new CamelCaseNamingStrategy
                {
                    OverrideSpecifiedNames = false
                }
            }
        };

        public CustomJsonCodec(IReadableConfiguration configuration)
        {
            _configuration = configuration;
        }

        public CustomJsonCodec(JsonSerializerSettings serializerSettings, IReadableConfiguration configuration)
        {
            _serializerSettings = serializerSettings;
            _configuration = configuration;
        }

        public string Serialize(object obj)
        {
            if (obj == null) return null;

            // Pass raw serialized JSON strings through without double-stringifying
            if (obj is string strObj)
            {
                return strObj;
            }

            // Call ToJson() on polymorphic AbstractOpenAPISchema wrappers directly
            if (obj is AbstractOpenAPISchema openApiSchema)
            {
                return openApiSchema.ToJson();
            }

            return JsonConvert.SerializeObject(obj, _serializerSettings);
        }

        public string Serialize(Parameter bodyParameter) => Serialize(bodyParameter.Value);

        public T Deserialize<T>(RestResponse response) => (T)Deserialize(response, typeof(T));

        internal object Deserialize(RestResponse response, Type type)
        {
            if (type == typeof(byte[])) return response.RawBytes;

            if (type == typeof(Stream))
            {
                var bytes = response.RawBytes;
                if (response.Headers != null)
                {
                    var filePath = string.IsNullOrEmpty(_configuration.TempFolderPath)
                        ? global::System.IO.Path.GetTempPath()
                        : _configuration.TempFolderPath;
                    var regex = new Regex(@"Content-Disposition=.*filename=['""]?([^'""\s]+)['""]?$");
                    foreach (var header in response.Headers)
                    {
                        var match = regex.Match(header.ToString());
                        if (match.Success)
                        {
                            string fileName = filePath + ClientUtils.SanitizeFilename(match.Groups[1].Value.Replace("\"", "").Replace("'", ""));
                            FileIO.WriteAllBytes(fileName, bytes);
                            return new FileStream(fileName, FileMode.Open);
                        }
                    }
                }
                return new MemoryStream(bytes);
            }

            if (type.Name.StartsWith("System.Nullable`1[[System.DateTime"))
            {
                return DateTime.Parse(response.Content, null, DateTimeStyles.RoundtripKind);
            }

            if (type == typeof(string) || type.Name.StartsWith("System.Nullable"))
            {
                return Convert.ChangeType(response.Content, type);
            }

            try
            {
                return JsonConvert.DeserializeObject(response.Content, type, _serializerSettings);
            }
            catch (Exception e)
            {
                throw new ApiException(500, e.Message);
            }
        }

        public ISerializer Serializer => this;
        public IDeserializer Deserializer => this;
        public string[] AcceptedContentTypes => ContentType.JsonAccept;
        public SupportsContentType SupportsContentType => contentType =>
            contentType.Value.EndsWith("json", StringComparison.InvariantCultureIgnoreCase) ||
            contentType.Value.EndsWith("javascript", StringComparison.InvariantCultureIgnoreCase);

        public ContentType ContentType { get; set; } = ContentType.Json;
        public DataFormat DataFormat => DataFormat.Json;
    }

    public partial class ApiClient : ISynchronousClient, IAsynchronousClient
    {
        private readonly string _baseUrl;

        public JsonSerializerSettings SerializerSettings { get; set; } = new JsonSerializerSettings
        {
            ConstructorHandling = ConstructorHandling.AllowNonPublicDefaultConstructor,
            ContractResolver = new DefaultContractResolver
            {
                NamingStrategy = new CamelCaseNamingStrategy { OverrideSpecifiedNames = false }
            }
        };

        partial void InterceptRequest(RestRequest request);
        partial void InterceptResponse(RestRequest request, RestResponse response);

        public ApiClient() { _baseUrl = GlobalConfiguration.Instance.BasePath; }

        public ApiClient(string basePath)
        {
            if (string.IsNullOrEmpty(basePath))
                throw new ArgumentException("basePath cannot be empty");
            _baseUrl = basePath;
        }

        private RestSharpMethod Method(HttpMethod method)
        {
            return method switch
            {
                HttpMethod.Get => RestSharpMethod.Get,
                HttpMethod.Post => RestSharpMethod.Post,
                HttpMethod.Put => RestSharpMethod.Put,
                HttpMethod.Delete => RestSharpMethod.Delete,
                HttpMethod.Head => RestSharpMethod.Head,
                HttpMethod.Options => RestSharpMethod.Options,
                HttpMethod.Patch => RestSharpMethod.Patch,
                _ => throw new ArgumentOutOfRangeException(nameof(method), method, null)
            };
        }

        private RestRequest NewRequest(HttpMethod method, string path, RequestOptions options, IReadableConfiguration configuration)
        {
            if (path == null) throw new ArgumentNullException(nameof(path));
            if (options == null) throw new ArgumentNullException(nameof(options));
            if (configuration == null) throw new ArgumentNullException(nameof(configuration));

            RestRequest request = new RestRequest(path, Method(method));

            if (options.PathParameters != null)
                foreach (var param in options.PathParameters)
                    request.AddParameter(param.Key, param.Value, ParameterType.UrlSegment);

            if (options.QueryParameters != null)
                foreach (var param in options.QueryParameters)
                    foreach (var val in param.Value)
                        request.AddQueryParameter(param.Key, val);

            if (configuration.DefaultHeaders != null)
                foreach (var param in configuration.DefaultHeaders)
                    request.AddHeader(param.Key, param.Value);

            if (options.HeaderParameters != null)
                foreach (var param in options.HeaderParameters)
                    foreach (var val in param.Value)
                        request.AddOrUpdateHeader(param.Key, val);

            if (options.FormParameters != null)
                foreach (var param in options.FormParameters)
                    request.AddParameter(param.Key, param.Value);

            if (options.Data != null)
            {
                if (options.Data is Stream stream)
                {
                    var contentType = "application/octet-stream";
                    if (options.HeaderParameters != null && options.HeaderParameters.TryGetValue("Content-Type", out var contentTypes))
                        contentType = contentTypes[0];

                    request.AddParameter(contentType, ClientUtils.ReadAsBytes(stream), ParameterType.RequestBody);
                }
                else
                {
                    request.RequestFormat = DataFormat.Json;
                    request.AddJsonBody(options.Data);
                }
            }

            if (options.FileParameters != null)
            {
                foreach (var fileParam in options.FileParameters)
                {
                    foreach (var file in fileParam.Value)
                    {
                        var bytes = ClientUtils.ReadAsBytes(file);
                        if (file is FileStream fileStream)
                            request.AddFile(fileParam.Key, bytes, global::System.IO.Path.GetFileName(fileStream.Name));
                        else
                            request.AddFile(fileParam.Key, bytes, "no_file_name_provided");
                    }
                }
            }

            return request;
        }

        private ApiResponse<T> ToApiResponse<T>(RestResponse<T> response)
        {
            var transformed = new ApiResponse<T>(response.StatusCode, new Multimap<string, string>(), response.Data, response.Content)
            {
                ErrorText = response.ErrorMessage,
                Cookies = new List<Cookie>()
            };

            if (response.Headers != null)
                foreach (var h in response.Headers)
                    transformed.Headers.Add(h.Name, ClientUtils.ParameterToString(h.Value));

            if (response.ContentHeaders != null)
                foreach (var h in response.ContentHeaders)
                    transformed.Headers.Add(h.Name, ClientUtils.ParameterToString(h.Value));

            if (response.Cookies != null)
                foreach (var c in response.Cookies.Cast<Cookie>())
                    transformed.Cookies.Add(new Cookie(c.Name, c.Value, c.Path, c.Domain));

            return transformed;
        }

        private async Task<ApiResponse<T>> ExecClientAsync<T>(Func<RestClient, Task<RestResponse<T>>> getResponse, Action<RestClientOptions> setOptions, RestRequest request, RequestOptions options, IReadableConfiguration configuration)
        {
            var baseUrl = configuration.GetOperationServerUrl(options.Operation, options.OperationIndex) ?? _baseUrl;
            var clientOptions = new RestClientOptions(baseUrl)
            {
                ClientCertificates = configuration.ClientCertificates,
                Timeout = configuration.Timeout,
                Proxy = configuration.Proxy,
                UserAgent = configuration.UserAgent,
                UseDefaultCredentials = configuration.UseDefaultCredentials,
                RemoteCertificateValidationCallback = configuration.RemoteCertificateValidationCallback
            };
            setOptions(clientOptions);

            using (RestClient client = new RestClient(clientOptions,
                configureSerialization: s => s.UseSerializer(() => new CustomJsonCodec(SerializerSettings, configuration))))
            {
                InterceptRequest(request);
                RestResponse<T> response = await getResponse(client).ConfigureAwait(false);

                if (typeof(AbstractOpenAPISchema).IsAssignableFrom(typeof(T)))
                {
                    try
                    {
                        response.Data = (T)typeof(T).GetMethod("FromJson").Invoke(null, new object[] { response.Content });
                    }
                    catch (Exception ex)
                    {
                        throw ex.InnerException ?? ex;
                    }
                }
                else if (typeof(T).Name == "Stream") response.Data = (T)(object)new MemoryStream(response.RawBytes);
                else if (typeof(T).Name == "Byte[]") response.Data = (T)(object)response.RawBytes;
                else if (typeof(T).Name == "String") response.Data = (T)(object)response.Content;

                InterceptResponse(request, response);
                return ToApiResponse(response);
            }
        }

        private async Task<RestResponse<T>> DeserializeRestResponseFromPolicyAsync<T>(RestClient client, RestRequest request, PolicyResult<RestResponse> policyResult, CancellationToken cancellationToken = default)
        {
            if (policyResult.Outcome == OutcomeType.Successful)
                return await client.Deserialize<T>(policyResult.Result, cancellationToken).ConfigureAwait(false);
            
            return new RestResponse<T>(request) { ErrorException = policyResult.FinalException };
        }

        private Task<ApiResponse<T>> ExecAsync<T>(RestRequest request, RequestOptions options, IReadableConfiguration configuration, CancellationToken cancellationToken = default)
        {
            Func<RestClient, Task<RestResponse<T>>> getResponse = async (client) =>
            {
                if (RetryConfiguration.AsyncRetryPolicy != null)
                {
                    var policyResult = await RetryConfiguration.AsyncRetryPolicy.ExecuteAndCaptureAsync((ct) => client.ExecuteAsync(request, ct), cancellationToken).ConfigureAwait(false);
                    return await DeserializeRestResponseFromPolicyAsync<T>(client, request, policyResult, cancellationToken).ConfigureAwait(false);
                }
                return await client.ExecuteAsync<T>(request, cancellationToken).ConfigureAwait(false);
            };

            return ExecClientAsync(getResponse, _ => {}, request, options, configuration);
        }

        public Task<ApiResponse<T>> GetAsync<T>(string path, RequestOptions options, IReadableConfiguration configuration = null, CancellationToken cancellationToken = default) => ExecAsync<T>(NewRequest(HttpMethod.Get, path, options, configuration ?? GlobalConfiguration.Instance), options, configuration ?? GlobalConfiguration.Instance, cancellationToken);
        public Task<ApiResponse<T>> PostAsync<T>(string path, RequestOptions options, IReadableConfiguration configuration = null, CancellationToken cancellationToken = default) => ExecAsync<T>(NewRequest(HttpMethod.Post, path, options, configuration ?? GlobalConfiguration.Instance), options, configuration ?? GlobalConfiguration.Instance, cancellationToken);
        public Task<ApiResponse<T>> PutAsync<T>(string path, RequestOptions options, IReadableConfiguration configuration = null, CancellationToken cancellationToken = default) => ExecAsync<T>(NewRequest(HttpMethod.Put, path, options, configuration ?? GlobalConfiguration.Instance), options, configuration ?? GlobalConfiguration.Instance, cancellationToken);
        public Task<ApiResponse<T>> DeleteAsync<T>(string path, RequestOptions options, IReadableConfiguration configuration = null, CancellationToken cancellationToken = default) => ExecAsync<T>(NewRequest(HttpMethod.Delete, path, options, configuration ?? GlobalConfiguration.Instance), options, configuration ?? GlobalConfiguration.Instance, cancellationToken);
        
        public ApiResponse<T> Get<T>(string path, RequestOptions options, IReadableConfiguration configuration = null) => GetAsync<T>(path, options, configuration).GetAwaiter().GetResult();
        public ApiResponse<T> Post<T>(string path, RequestOptions options, IReadableConfiguration configuration = null) => PostAsync<T>(path, options, configuration).GetAwaiter().GetResult();
        public ApiResponse<T> Put<T>(string path, RequestOptions options, IReadableConfiguration configuration = null) => PutAsync<T>(path, options, configuration).GetAwaiter().GetResult();
        public ApiResponse<T> Delete<T>(string path, RequestOptions options, IReadableConfiguration configuration = null) => DeleteAsync<T>(path, options, configuration).GetAwaiter().GetResult();
    }
}